/* ############################## */
/* Education Info Area |  Styling */
/* ############################## */
.education_info {

    li:nth-child(2) {
        margin: 1.5rem 0;
    }

    h4 {
        color      : var(--white);
        font-weight: normal;

        &:nth-child(2) {
            font-size: 1.3rem;
            margin   : .3rem 0;
        }
    }

    h5 {
        color      : var(--mainTheme);
        font-weight: 500;
    }
}