@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,300&display=swap");

:root {
    // --leftSide    : #313131;
    // --rightSide   : #3b3b3b;
    --leftSide : #d1d1d1;
    --rightSide: #e7e7e7;
    --mainTheme: #0d79ac;
    --white    : #272727;
    --hover    : tomato;
    --bodyBG   : gray;
}

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    border         : none;
    outline        : none;
    list-style     : none;
    text-decoration: none;
    font-family    : 'Nunito', sans-serif;
}

*::selection {
    background: #36cc36;
    color     : #141414;
}


@import 'commonMain';
@import 'leftSide_profilePhoto';
@import 'leftSide_contact';
@import 'leftSide_education';
@import 'leftSide_language';

@import 'rightSide_aboutExperience';
@import 'rightSide_skill';
@import 'rightSide_interest';

@import 'responsive';