@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,300&display=swap");

:root {
    /* --leftSide : #313131;
    --rightSide: #3b3b3b; */
    --leftSide : #2D333B;
    --rightSide: #22272E;
    --icon     : #F9CA24;
    --white    : #ffffff;
}

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    border         : none;
    outline        : none;
    list-style     : none;
    text-decoration: none;
    font-family    : 'Nunito', sans-serif;
}

*::selection {
    background: lightgreen;
    color     : red;
}

body {
    background     : lightblue;
    display        : flex;
    justify-content: center;
    align-items    : center;
    min-height     : 100vh;
}

main {
    position             : relative;
    width                : 100%;
    max-width            : 1000px;
    min-height           : 1000px;
    margin               : 50px;
    box-shadow           : 0 35px 55px rgba(0, 0, 0, .5);
    display              : grid;
    grid-template-columns: 1fr 2fr;
}

.left_side,
.right_side {

    position: relative;
    padding : 2.2rem;
}

.left_side {
    background: var(--leftSide);
}

.right_side {
    background: var(--rightSide);
    ;
}

/* ############################ */
/* Profile Photo Area | Styling */
/* ############################ */
.profile_photo {
    position      : relative;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding-bottom: 1.2rem;
    border-bottom : 1px solid rgba(255, 255, 255, 0.2);
}

.profile_photo .imgBox {
    position     : relative;
    width        : 200px;
    height       : 200px;
    border-radius: 50%;
    overflow     : hidden;
}

.profile_photo .imgBox img {
    width     : 100%;
    object-fit: cover;
}

.profile_photo h2 {
    color      : var(--white);
    font-size  : 1.5rem;
    margin-top : 1rem;
    text-align : center;
    font-weight: 600;
    line-height: 1.6rem;
}

.profile_photo h2 span {
    font-size  : 1rem;
    font-weight: 300;
}

/* ############################ */
/* Contact Info Area |  Styling */
/* ############################ */
.contact_info,
.education_info,
.language_info {
    padding-top: 30px;
}

.contact_info h3,
.education_info h3,
.language_info h3 {
    color         : var(--white);
    letter-spacing: 2px;
    margin-bottom : 20px;
    text-align    : center;
}

.contact_info ul li {
    margin: 10px 0;
    cursor: pointer;
}

.contact_info ul li .icon {
    display  : inline-block;
    width    : 25px;
    font-size: 18px;
    color    : var(--icon);
}

.contact_info ul li .text {
    color: var(--white);
}

.contact_info ul li:hover .icon {
    color: var(--yellow);
}

/* ############################## */
/* Education Info Area |  Styling */
/* ############################## */
.education_info li:nth-child(2) {
    margin: 1.5rem 0;
}

.education_info h5 {
    color      : var(--icon);
    font-weight: 500;
}

.education_info h4:nth-child(2) {
    color    : var(--white);
    font-size: 1.3rem;
    margin   : .3rem 0;
}

.education_info h4 {
    color      : var(--white);
    font-weight: normal;
}

/* ############################## */
/* Language Info Area |   Styling */
/* ############################## */
.language_info li {
    color: var(--white);
}

.language_info li:nth-child(2) {
    margin: 1rem 0;
}

.language_info .percent {
    position     : relative;
    width        : 100%;
    height       : 6px;
    display      : block;
    border-radius: 10px;
    background   : var(--white);
}

.language_info .percent div {
    position     : absolute;
    top          : 0;
    left         : 0;
    height       : 100%;
    border-radius: 10px;
    background   : var(--icon);
}

/* ############################## */
/* About Area      |      Styling */
/* ############################## */
.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.about .title {
    color         : var(--icon);
    letter-spacing: 1.2px;
    margin-bottom : 1rem;
}

.about p {
    color: var(--white);
}

.about .box {
    display       : flex;
    flex-direction: row;
    margin        : 1.2rem 0;
}

.about .box .years_work {
    min-width: 150px;
}

.about .box .years_work h5:first-child {
    color: var(--icon);
}

.about .box .years_work h5 {
    color: var(--white);
}

.about .box .text h4 {
    color    : var(--icon);
    font-size: 1.1rem;
}


/* ############################## */
/* Skills Area      |     Styling */
/* ############################## */

.skills .box {
    position             : relative;
    width                : 100%;
    display              : grid;
    grid-template-columns: 150px 1fr;
    justify-content      : center;
    align-items          : center;
}

.skills .box {
    color: var(--white)
}

.skills .box .percent {
    position     : relative;
    width        : 100%;
    height       : .5rem;
    background   : var(--white);
    border-radius: .5rem;
}

.skills .box .percent div {
    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 55%;
    height       : 100%;
    border-radius: .5rem;
    background   : var(--icon)
}

.language_info .percent div span,
.skills .percent div span {
    position : absolute;
    top      : -20px;
    right    : 10px;
    font-size: 1rem;
    color    : var(--white);
}

/* ############################## */
/* Skills Area      |     Styling */
/* ############################## */

.interest ul {
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    color      : var(--white);
    margin     : 1rem 0;
    font-weight: 900;

}

.interest ul li .fa {
    color    : var(--icon);
    font-size: 1.5rem;
}

.interest i {
    padding-right: 5px;
}

/* Responsive  */
@media (max-width: 1000px) {

    main {
        margin               : 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 650px) {

    .about .box {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .about .box .years_work {
        margin-bottom: 5px;
        font-size    : 1.3rem;
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
        justify-items        : center;

    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }

    .language_info .percent div span,
    .skills .percent div span {
        font-size: .8rem;
    }
}